:deep(.highlight) {
	background-color: #ffff00;
	animation: highlight-fade-in 0.3s ease-in-out;
}

@keyframes highlight-fade-in {
	from {
		background-color: transparent;
	}
	to {
		background-color: yellow;
	}
}